.form-group.m-form__group.has_danger
  = f.label :start_datetime, class: "form-control-label"
  .col-lg-4.col-md-9.col-sm-12
    .input-group.date
      = f.text_field :start_datetime, class: "form-control m-input", id: "m_datepicker_1",
          placeholder: t("surveys.select_date"), onclose: 'function(dateText, inst) { $(inst.input).change().focusout(); }'
      -#= f.text_field :start_datetime, @start_datetime.strftime("%Y-%m-%d %H:%M"), class: "form-control m-input"
      -# = f.text_field :start_datetime, value: @survey.start_datetime.try(:strftime, "%m/%d/%Y"), class: "form-control m-input survey_start_datetime", autocomplete: "off", id: "m_datepicker_1", placeholder: t("surveys.select_date"), :type => "text"
      -# %input#m_datepicker_2.form-control.m-input{:placeholder => "Select date", :readonly => "readonly", :type => "text"}/
      .input-group-append
        %span.input-group-text
          %i.la.la-calendar-check-o
.form-group.m-form__group.has_danger
  %label= t('activerecord.attributes.survey.end_datetime')
  .col-lg-4.col-md-9.col-sm-12
    .input-group.date
      = f.text_field :end_datetime, value: @survey.end_datetime.try(:strftime, "%m/%d/%Y"), class: "form-control m-input survey_end_datetime", autocomplete: "off", id: "m_datepicker_2", placeholder: t("surveys.select_date"), :type => "text"
      .input-group-append
        %span.input-group-text
          %i.la.la-calendar-check-o
.form-group.m-form__group.has_danger
  %label{:for => "example-text-input"}= t('activerecord.attributes.survey.title')
  = f.text_field :title, class: "form-control m-input"
.form-group.m-form__group.has_danger
  %label{:for => "example-text-input"}= t('activerecord.attributes.survey.description')
  = f.text_field :description, class: "form-control m-input"
.form-group.m-form__group.has_danger
  = f.label :is_anonymous, t('activerecord.attributes.survey.is_anonymous')
  .m-checkbox-list
    %label.m-checkbox
      = f.check_box :is_anonymous, validate: false
      %span#click_is_anonymous
.m-form__seperator.m-form__seperator--dashed.m-form__seperator--space
.form-group.m-form__group.row
