.col-lg-12.question_container{ class: "question_#{i}" }
  %h5.m--font-primary
    = t('surveys.question')
    = t('surveys.num')
    %span= i
    = t('surveys.free')

  %input.form-control.m-input{ required: 'required', type: 'text', name: "survey[survey_questions_attributes][#{i}][question]", "data-validate" => true, value: question.question }
  - if question.id.present?
    %input{ type: "hidden", name: "survey[survey_questions_attributes][#{i}][id]", value: question.id.to_s }
    %input{ type: "hidden", class: "destroy delete_#{i}", name: "survey[survey_questions_attributes][#{i}][_destroy]", value: 0 }
  %input{ type: "hidden", name: "survey[survey_questions_attributes][#{i}][question_type]", value: question.question_type }

  .m-form__group.form-group.row
    .col-lg-10
      %a.m-link.m-link--state.m-link--danger{ href: '#', onclick: "remove_question(this);" }= t('surveys.remove_question')
  .m-form__seperator.m-form__seperator--dashed.m-form__seperator--space
