/ begin::Portlet
.m-portlet
  .m-portlet__head
    .m-portlet__head-caption
      .m-portlet__head-title
        %h3.m-portlet__head-text
          my surveys
  .m-portlet__body
    / begin::Section
    .m-section
      .m-section__content
        - if @surveys.present?
          %table.table.table-striped.m-table.table-hover
            %thead
              %tr
                %th #
                %th Start time
                %th End time
                %th Title
                %th Question count
                %th Answer count
                %th Short link
                %th Anonymous
                %th Actions
            %tbody
              - @surveys.each_with_index do |s, i|
                %tr
                  %th{:scope => "row"}=i + 1
                  %td=s.start_datetime
                  %td=s.end_datetime
                  %td=s.title
                  %td= s.survey_questions.count
                  %td= 'answer_count'
                  %td='short link using firebase'
                  %td=s.is_anonymous
                  %td.nowrap
                    %span.dropdown
                      %a.btn.m-btn.m-btn--hover-brand.m-btn--icon.m-btn--icon-only.m-btn--pill{ href: "#", "aria-expanded": "true", 'data-toggle': "dropdown"}
                        %i.la.la-ellipsis-h
                      .dropdown-menu.dropdown-menu-right
                        = link_to app_survey_path(s), class: "dropdown-item" do
                          %i.la.la-eye
                          Preview
                        = link_to my_survey_path(s), method: :delete, class: "dropdown-item" do
                          %i.la.la-trash
                          Destroy
                    = link_to edit_my_survey_path(s), class: "m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" do
                      %i.la.la-edit
        - else
          = link_to 'Add Survey', new_my_survey_path, class: 'btn btn-lg btn-primary', html: { id: 'add_survey' }
    / end::Section
  / end::Form
/ end::Portlet
