- binding.pry
.m-portlet__head
  .m-portlet__head-caption
    .m-portlet__head-title
      %span.m-portlet__head-icon.m--hide
        %i.la.la-gear
      %h3.m-portlet__head-text
        Add New Survey
= form_for @survey, url: app_surveys_path, validate: true,
  html: { method: "post", class: "m-form m-form--fit m-form--label-align-right" } do |f|
  .m-portlet__body
    -# = error_messages_for(@survey)
    -# = render "main_form", f: f
    .form-group.m-form__group
      %label{:for => "example-text-input"}= 'Title'
      = f.text_field :title, class: "form-control m-input"
    .form-group.m-form__group
      %label{:for => "example-text-input"}= 'Description'
      = f.text_field :description, class: "form-control m-input"
    .form-group.m-form__group
      = f.label :is_anonymous, 'Is Anonymous'
      .m-checkbox-list
        %label.m-checkbox
          = f.check_box :is_anonymous
          %span
    .m-form__seperator.m-form__seperator--dashed.m-form__seperator--space
    .form-group.m-form__group.row
      .col-lg-6#questions_body
    .m-portlet__body
      %br/
      %br/
      %a.btn.btn-brand.m-btn.m-btn--custom.m-btn--icon{ onclick: "add_multiple_choice()", id: 'add_only_answer' }
        %span
          %i.la.la-circle-thin
          %span Add Only answer
      %a.btn.btn-accent.m-btn.m-btn--custom.m-btn--icon{ onclick: "add_checkboxes_choice()", id: 'add_multiple_answer' }
        %span
          %i.la.la-check-square
          %span Add Multiple answer
      %a.btn.btn-focus.m-btn.m-btn--custom.m-btn--icon{ onclick: "add_paragraph_choice()", id: 'add_free_answer' }
        %span
          %i.la.la-smile-o
          %span Add Free answer
      %br/
      %br/

      .m-portlet__foot--fit
        .m-form__actions.m-form__actions
          %button.btn.btn-primary{ type: "submit", data: { confirm: 'Do you really want to save?' } }
            Create
          = link_to "Cancel", app_surveys_path, class: "btn btn-secondary"
