.form-group.m-form__group.has_danger
  %label{:for => "example-text-input"}= t('activerecord.attributes.tournaments.title')
  = f.text_field :title, class: "form-control m-input"
%h1= "Team titles"
.row
  .col-md-4.col-lg-4
    - 8.times do |i|
      -#.m-form__seperator.m-form__seperator--dashed.m-form__seperator--space
      .form-group.m-form__group.row.has_danger
        = text_field_tag :title, "",
                         class: "form-control m-input",
                         name: "[tournament][teams_attributes][#{i + 1}][title]",
                         id: "tournament_teams_attributes_#{i + 1}_title"
        = hidden_field_tag :off, "", value: false, class: "form-control m-input", name: "[tournament][teams_attributes][#{i + 1}][off]"
  .col-md-4.col-lg-4
    - 8.times do |i|
      -#.m-form__seperator.m-form__seperator--dashed.m-form__seperator--space
      .form-group.m-form__group.row.has_danger
        = text_field_tag :title, "",
                         class: "form-control m-input",
                         name: "[tournament][teams_attributes][#{i + 9}][title]",
                         id: "tournament_teams_attributes_#{i + 9}_title"
        = hidden_field_tag :off, "", value: false, class: "form-control m-input", name: "[tournament][teams_attributes][#{i + 9}][off]"
