.m-portlet__head
  .m-portlet__head-caption
    .m-portlet__head-title
      %span.m-portlet__head-icon.m--hide
        %i.la.la-gear
      = form_tag("/tournaments/#{@tournament.id}/matches", method: :post) do
        = submit_tag "To next round", class: "btn btn-primary"
    - if @tournament.groups.where(group_type: 0).first.matches.present?
      %button.btn.btn-primary#generate_game{ onclick: "generate_random_scores('#{@tournament.id}')" } Generate scores
  %br
  %hr
  .m-portlet__body
    - [@a, @b, @play_off_1_4, @play_off_1_2, @final].each_with_index do |group, i|
      - if group.any?
        %div{ id: "table_#{i}"}
          = render "table", group: group, group_index: i
          %br
          %br
