/ BEGIN: Header
%header#m_header.m-grid__item.m-header{"m-minimize-mobile-offset" => "200", "m-minimize-offset" => "200"}
  .m-container.m-container--fluid.m-container--full-height
    .m-stack.m-stack--ver.m-stack--desktop
      / BEGIN: Brand
      .m-stack__item.m-brand.m-brand--skin-dark
        .m-stack.m-stack--ver.m-stack--general
          .m-stack__item.m-stack__item--middle.m-brand__logo
            %a.m-brand__logo-wrapper{:href => "index.html"}
              %h3{ style: "color: white !important"} TOURNAMENTS
              -# image_tag "logo/logo_default_dark.png"
          .m-stack__item.m-stack__item--middle.m-brand__tools
            / BEGIN: Left Aside Minimize Toggle
            %a#m_aside_left_minimize_toggle.m-brand__icon.m-brand__toggler.m-brand__toggler--left.m--visible-desktop-inline-block{:href => "javascript:;"}
              %span
            / END
            / BEGIN: Responsive Aside Left Menu Toggler
            %a#m_aside_left_offcanvas_toggle.m-brand__icon.m-brand__toggler.m-brand__toggler--left.m--visible-tablet-and-mobile-inline-block{:href => "javascript:;"}
              %span
            / END
            / BEGIN: Responsive Header Menu Toggler
            %a#m_aside_header_menu_mobile_toggle.m-brand__icon.m-brand__toggler.m--visible-tablet-and-mobile-inline-block{:href => "javascript:;"}
              %span
            / END
            / BEGIN: Topbar Toggler
            %a#m_aside_header_topbar_mobile_toggle.m-brand__icon.m--visible-tablet-and-mobile-inline-block{:href => "javascript:;"}
              %i.flaticon-more
            / BEGIN: Topbar Toggler
      / END: Brand
      #m_header_nav.m-stack__item.m-stack__item--fluid.m-header-head{style: 'background: white'}
        / BEGIN: Horizontal Menu
        %button#m_aside_header_menu_mobile_close_btn.m-aside-header-menu-mobile-close.m-aside-header-menu-mobile-close--skin-dark
          %i.la.la-close
        #m_header_menu.m-header-menu.m-aside-header-menu-mobile.m-aside-header-menu-mobile--offcanvas.m-header-menu--skin-light.m-header-menu--submenu-skin-light.m-aside-header-menu-mobile--skin-dark.m-aside-header-menu-mobile--submenu-skin-dark
          - if current_user
            %ul.m-menu__nav.m-menu__nav--submenu-arrow
              %li.m-menu__item.m-menu__item--submenu.m-menu__item--rel{"aria-haspopup" => "true", "m-menu-link-redirect" => "1", "m-menu-submenu-toggle" => "click"}
                %a.m-menu__link{:href => "javascript:;"}
                  %i.m-menu__link-icon.flaticon-add
                  %span.m-menu__link-text= t('tournaments.new')
              %li.m-menu__item.m-menu__item--submenu.m-menu__item--rel{"aria-haspopup" => "true", "m-menu-link-redirect" => "1", "m-menu-submenu-toggle" => "click"}
                %a.m-menu__link{:href => "javascript:;"}
                  %i.m-menu__link-icon.flaticon-map
                  %span.m-menu__link-text= t('tournaments.to_next_round')
              %li.m-menu__item.m-menu__item--submenu.m-menu__item--rel{"aria-haspopup" => "true", "m-menu-link-redirect" => "1", "m-menu-submenu-toggle" => "click"}
                %a.m-menu__link{:href => "javascript:;"}
                  %i.m-menu__link-icon.flaticon-app
                  %span.m-menu__link-text= t('tournaments.generate_score')


        / END: Horizontal Menu
        / BEGIN: Topbar
        #m_header_topbar.m-topbar.m-stack.m-stack--ver.m-stack--general.m-stack--fluid
          .m-stack__item.m-topbar__nav-wrapper
            %ul.m-topbar__nav.m-nav.m-nav--inline
              %li#m_quicksearch.m-nav__item.m-dropdown.m-dropdown--large.m-dropdown--arrow.m-dropdown--align-center.m-dropdown--mobile-full-width.m-dropdown--skin-light.m-list-search.m-list-search--skin-light{"m-dropdown-persistent" => "1", "m-dropdown-toggle" => "click", "m-quicksearch-mode" => "dropdown"}
                %a.m-nav__link.m-dropdown__toggle{:href => "#"}
                .m-dropdown__wrapper
                  %li.m-nav__item.m-topbar__quick-actions.m-topbar__quick-actions--img.m-dropdown.m-dropdown--large.m-dropdown--header-bg-fill.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push.m-dropdown--mobile-full-width.m-dropdown--skin-light{"m-dropdown-toggle" => "click"}
                    - if current_user
                      = link_to destroy_user_session_path, method: :delete, class: "m-nav__link" do
                        %span.m-nav__link-badge.m-badge.m-badge--dot.m-badge--info.m--hide
                        %span.m-nav__link-icon
                          %i.flaticon-logout
                    - else
                      = link_to new_user_session_path, class: "m-nav__link" do
                        %span.m-nav__link-badge.m-badge.m-badge--dot.m-badge--info.m--hide
                        %span.m-nav__link-icon
                          %i.la.la-sign-in
                  %li.m-nav__item.m-topbar__languages.m-dropdown.m-dropdown--small.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--mobile-full-width{"m-dropdown-toggle" => "click"}
                    %a.m-nav__link.m-dropdown__toggle{:href => "#"}
                      %span.m-nav__link-text
                        = image_tag "flags/013-russia.svg", class: "m-topbar__language-selected-img"
                        -# %img.m-topbar__language-selected-img{:src => "flags/020-flag.svg"}
                      .m-dropdown__wrapper
                        %span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                        .m-dropdown__inner
                          .m-dropdown__header.m--align-center#flagstick_container{ style: 'background: none'}
                            %span.m-dropdown__header-subtitle= t('locales.select_your_language')
                          .m-dropdown__body
                            .m-dropdown__content
                              %ul.m-nav.m-nav--skin-light
                                %li.m-nav__item.m-nav__item--active
                                  = link_to locale: 'en' do
                                    %span.m-nav__link-icon
                                      = image_tag "flags/020-flag.svg", class: "m-topbar__language-img"
                                      -# %img.m-topbar__language-img{:src => "/app/assets/images/flags/020-flag.svg"}/
                                      %span.m-nav__link-title.m-topbar__language-text.m-nav__link-text= t('ls.english')
                                  %li.m-nav__item
                                    = link_to locale: 'ru' do
                                      %span.m-nav__link-icon
                                        = image_tag "flags/013-russia.svg", class: "m-topbar__language-img"
                                        -# %img.m-topbar__language-img{:src => "flags/015-china.svg"}/
                                        %span.m-nav__link-title.m-topbar__language-text.m-nav__link-text= t('ls.russia')
                              - if current_user
                                %li.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown.m-dropdown--medium.m-dropdown--arrow.m-dropdown--header-bg-fill.m-dropdown--align-right.m-dropdown--mobile-full-width.m-dropdown--skin-light{"m-dropdown-toggle" => "click"}
                                  %a.m-nav__link.m-dropdown__toggle{:href => "#"}
                                    %span.m-nav__link-icon
                                      %i.flaticon-user
                                  -# %a.m-nav__link.m-dropdown__toggle{:href => "#"}
                                  -#   %span.m-topbar__userpic
                                      -# image_tag "users/user4.jpg", class: "m--img-rounded m--marginless"
                                      -# %img.m--img-rounded.m--marginless{:alt => "", :src => "assets/app/media/img/users/user4.jpg"}/
                                    %span.m-topbar__username.m--hide Nick
                                  .m-dropdown__wrapper
                                    %span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                                    .m-dropdown__inner
                                      .m-dropdown__header.m--align-center#user_profile_container{ style: 'background: transparent'}
                                        - if current_user
                                          .m-card-user.m-card-user--skin-dark
                                            .m-card-user__pic
                                              = image_tag "users/user4.jpg", class: "m--img-rounded m--marginless"
                                              -# %img.m--img-rounded.m--marginless{:alt => "", :src => "assets/app/media/img/users/user4.jpg"}/
                                              /
                                                <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
                                            .m-card-user__details
                                              %span.m-card-user__name.m--font-weight-500= "#{current_user.try(:first_name)} #{current_user.try(:last_name)}"
                                              %span.m-card-user__email.m--font-weight-300.m-link= "#{current_user.try(:email)}"
                                        - else
                                          %span
                                      .m-dropdown__body
                                        .m-dropdown__content
                                          %ul.m-nav.m-nav--skin-light
                                            %li.m-nav__section.m--hide
                                              %span.m-nav__section-text Section
                                            %li.m-nav__item
                                              = link_to edit_user_registration_path, class: 'm-nav__link' do
                                                %i.m-nav__link-icon.flaticon-profile-1
                                                %span.m-nav__link-title
                                                  %span.m-nav__link-wrap
                                                    %span.m-nav__link-text My Profile

                        / END: Topbar
                / END: Header
