/ begin::Portlet
.m-portlet
  .m-portlet__head
    .m-portlet__head-caption
      .m-portlet__head-title
        %h3.m-portlet__head-text
          All Surveys
  .m-portlet__body
    / begin::Section
    .m-section
      .m-section__content
        - if @surveys.present?
          %table.table.table-striped.m-table.table-hover
            %thead
              %tr
                %th #
                %th Author
                %th Title
                %th Actions
            %tbody
              - @surveys.each_with_index do |s, i|
                %tr
                  %th{:scope => "row"}=i + 1
                  %td= "#{s.user.first_name} #{s.user.last_name}"
                  %td=s.title
                  %td.nowrap
                    %span.dropdown
                    -# app_survey_path(s)
                    = link_to '#', class: "m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" do
                      %i.la.la-edit
        - else
          = link_to 'Add Survey', new_my_survey_path, class: 'btn btn-lg btn-primary', html: { id: 'add_survey' }
    / end::Section
  / end::Form
/ end::Portlet
