= stylesheet_link_tag 'vendors.bundle.css', media: 'all', 'data-turbolinks-track': 'reload'
/ begin:: Page
.m-grid.m-grid--hor.m-grid--root.m-page
  #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--desktop.m-grid--ver-desktop.m-grid--hor-tablet-and-mobile.m-login.m-login--6
    #login_background.m-grid__item.m-grid__item--order-tablet-and-mobile-2.m-grid.m-grid--hor.m-login__aside
      = render 'users/shared/left_side'
    .m-grid__item.m-grid__item--fluid.m-grid__item--order-tablet-and-mobile-1.m-login__wrapper
      / begin::Head
      .m-login__head
        %span= t('devise.passwords.edit.don_t_have_an_account')
        = link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: "m-link m--font-danger"
      / end::Head
      / begin::Body
      .m-login__body
        / begin::Signin
        .m-login__signin
          .m-login__title
            %h3= t('devise.passwords.edit.change_my_password')
          / begin::Form
          = form_for(resource, as: resource_name, validate: true, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.hidden_field :reset_password_token
            .form-group.m-form__group.has_danger
              = f.password_field :password, autocomplete: "new-password", class: "form-control m-input m-login__form-input--last", placeholder: t('devise.passwords.edit.new_password')
            .form-group.m-form__group.has_danger
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control m-input m-login__form-input--last", placeholder: t('devise.passwords.edit.confirm_new_password')
            = f.submit t('devise.passwords.edit.change_my_password'), class: "btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary", html: { id: "m_login_signin_submit" }
            %br/
            %br/
            = render 'users/shared/oauth_links'
        / end::Signin
      / end::Body
    %script{:src => "https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"}

:javascript
  WebFont.load({
    google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
    active: function() {
        sessionStorage.fonts = true;
    }
  });

-#
-# <h2>Change your password</h2>
-#
-# <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
-#   <%= devise_error_messages! %>
-#   <%= f.hidden_field :reset_password_token %>
-#
-#   <div class="field">
-#     <%= f.label :password, "New password" %><br />
-#     <% if @minimum_password_length %>
-#       <em>(<%= @minimum_password_length %> characters minimum)</em><br />
-#     <% end %>
-#     <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
-#   </div>
-#
-#   <div class="field">
-#     <%= f.label :password_confirmation, "Confirm new password" %><br />
-#     <%= f.password_field :password_confirmation, autocomplete: "off" %>
-#   </div>
-#
-#   <div class="actions">
-#     <%= f.submit "Change my password" %>
-#   </div>
-# <% end %>
-#
-# <%= render "users/shared/links" %>
