= stylesheet_link_tag 'vendors.bundle.css', media: 'all', 'data-turbolinks-track': 'reload'
/ begin:: Page
.m-grid.m-grid--hor.m-grid--root.m-page
  #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--desktop.m-grid--ver-desktop.m-grid--hor-tablet-and-mobile.m-login.m-login--6
    #login_background.m-grid__item.m-grid__item--order-tablet-and-mobile-2.m-grid.m-grid--hor.m-login__aside
      = render '/users/shared/left_side'
    .m-grid__item.m-grid__item--fluid.m-grid__item--order-tablet-and-mobile-1.m-login__wrapper
      / begin::Head
      .m-login__head
        %a.m-link.m--font-danger{:href => "#"}= t('devise.registrations.new.sign_up')
      / end::Head
      / begin::Body
      .m-login__body
        / begin::Signin
        .m-login__signin
          .m-login__title
            %h3= t('devise.registrations.new.sign_up')
          / begin::Form
          = form_for(resource, as: resource_name, validate: true, url: registration_path(resource_name), class: "m-login__form m-form") do |f|
            = hidden_field_tag 'authenticity_token', form_authenticity_token
            -# .form-group.m-form__group
            -#   = f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control m-input", placeholder: "First Name"
            -# .form-group.m-form__group
            -#   = f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control m-input", placeholder: "Last Name"
            -# .form-group.m-form__group
            -#   = f.text_field :patronymic, autofocus: true, autocomplete: "off", class: "form-control m-input", placeholder: "Patronymic"
            .form-group.m-form__group.has-danger
              = f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control m-input", placeholder: t('activerecord.attributes.user.email')
            -# .form-group.m-form__group
            -#   = f.text_field :phone, autofocus: true, autocomplete: "off", class: "form-control m-input", placeholder: "Phone Number"
            .form-group.m-form__group.has-danger
              = f.password_field :password, autocomplete: "new-password", class: "form-control m-input m-login__form-input--last", placeholder: t('activerecord.attributes.user.password')
            = f.submit t('devise.registrations.new.sign_up'), class: "btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary", html: { id: "m_login_signin_submit" }
            %br/
            = render 'users/shared/oauth_links'
        / end::Signin
      / end::Body
    %script{:src => "https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"}

:javascript
  WebFont.load({
    google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
    active: function() {
        sessionStorage.fonts = true;
    }
  });
